.Container {
  max-width: 1200px;
  margin: 0 auto;
}

.Article {
  display: grid;
  grid-template-columns:  705px 480px;
  column-gap: 15px;
}
.Article__left {
  border-radius: 16px;
}
.Article__BoxLeft {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px 30px 40px 30px;
}

.Article--gap {
  margin-top: 15px;
}

.Divider {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #bcbcbc;
  margin: 35px 0;
}


