
.Header__menu {
    display: flex;
}
.Header__menuName {
    padding-left: 10px;
    text-transform: lowercase;
    font-weight: bold;
    color: #55595c;
    font-size: 14px;
    margin: 0;
}
.Header__box {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}


.Header__hamburguerItem {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #55595c;
    margin-top: 7px;
}
.Header__hamburguerItem:first-child {
    margin-top: 0;
}

.Header__logo {
    height: 70px;
    width: 70px;
}

.Header__form {
    width: 300px;
    position: relative;
}

.Header__input{
    height: 45px;
    width: 100%;
    border: 0;
    border-radius: 40px;
    padding-left: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
    color: #55595c;
    outline: #55595c;
}
.Header__input::placeholder{
    color: #c8c9cd;
}

.Header__label {
    display: flex;
    align-items: center;
}
.Header__seachImg {
    position: absolute;
    left: 15px;
}
.Header__weather {
   display: flex;
}
.Header__weatherBox {
    padding-left: 20px;
    color: #55595c;
    text-transform: capitalize;
}
.Header__weatherImage {
    height: 40px;
    width: 40px;
}

.Header__temp {
    text-transform: lowercase;
    font-weight: bold;
    padding-top: 5px;
    font-size: 14px;
}

.Header__tempMax {
    padding-left: 10px;
    color: #34759c;
}
.Header__tempMin {
    color: #bd426c;
}
.Header__notify {
    height: 35px;
    width: 35px;
}
.Header__userBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.Header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.Header__userImg {
   width: 70px;
   height: 70px;
   margin-left: 10px;
}
.Header__arrow {
    border: solid #55595c;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    padding: 4px;
}
